.box {
  border: 1px solid black;
}

.report-page {
  width: 100%;
  height: 100%;
  display: flex;
}

.utility {
  flex-grow: 0;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.top {
  flex-grow: 0;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.top .heatmap-box {
  width: 60%;
}
.top .chart-box {
  width: 40%;
}

.bottom {
  flex-grow: 0;
  height: 40%;
  width: 100%;
}
