.day {
  min-height: 15em;
  width: 24%;
  padding: 1em;
  border-radius: 10px;
}

.overview {
  height: 60%;
  padding: 5px 0px;
}

.overview ul {
  display: list-item;
  list-style-type: disc;
  padding: 0;
}

.overview li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.little-details {
  color: #a1a1a1;
}

.baseline {
  align-items: flex-start;
}

.dropdown-menu {
  margin-left: 6px;
}

.dropdown-menu div {
  background-color: white;
  border-radius: 3px;
  position: fixed;
  box-shadow: 0px 0px 13px 0px rgba(125, 124, 124, 0.36);
  -webkit-box-shadow: 0px 0px 13px 0px rgba(125, 124, 124, 0.36);
  -moz-box-shadow: 0px 0px 13px 0px rgba(125, 124, 124, 0.36);
}

.dropdown-menu li {
  list-style-type: none;
  padding: 3px 8px;
}

.dropdown-menu li:hover {
  background-color: #80808049;
}
