.taskBar {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.taskBar input{
    font-size: 1rem;
    padding: 1rem; 
    outline: none;
    border: 1px solid gray; 
    border-right: none; 
    width: 30%;
}
  
.taskBar button{
    cursor: pointer; 
    font-size: 2.12rem;
    padding: 0.51rem;  
    color: #e9736dc5;
    border: 1px solid gray; 
    border-left: none; 
    margin-left: -3px; 
    padding-bottom: 0;
    background: white;
}
.taskBar button:hover{
    color: #e9736d;
}