.right-content {
  border-left: 2px solid #e9736d;
}

.days-section {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;
}

.day {
  margin-right: 2em;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.534);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #ebf0fa71;
}

.days-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.days-section {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
