#tasks{
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}

.title{
    margin: 30px 0;
}

.header_title{
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form_title{
    margin-bottom: 25px;
}

.logo{
    margin-top: 2.5rem;
    font-size: 2rem;
}

.complete {
    opacity: 0.4;
    filter: brightness(0.85);    
}
.complete .text{
    text-decoration: line-through;
}

.todo_form {
    margin-bottom: 30px;
}

.form_div {
    border-radius: 20px;
    padding: 50px 0;
}

.update_form_div {
    display: grid;
    align-items: center;
    margin: 100px auto 0 auto;
    padding: 50px;
    height: 100%;
    width: 50%;
    border-radius: 20px;
    border: 2px solid salmon;
    background-color: white;
    gap: 10px;
}

.update_form_div2{
    display: grid;
    align-items: center;
    margin: 100px auto 0 auto;
    padding: 50px;
    width: 50%;
    border-radius: 20px;
    border: 2px solid salmon;
    background-color: white;
    gap: 10px;
}

.label_form_div {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 25px auto 25px auto;
    padding: 20px;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    border: 2px solid salmon;
    background-color: white;
}
.label_form_div .todo_row{
    background-color: rgb(255, 183, 175);
}
.label_form_div span{
    overflow-wrap: break-word;
    text-align: justify;
    font-size: 15px;
}

.todo_input {
    padding: 10px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid black;
    outline: none;
    width: 70%;
    background: white;
    color: black;
    font-size: 20px;
    vertical-align: middle;
}
.todo_input:focus {
    border: 2px solid salmon;
}
.todo_input::placeholder {
    color: black;
}

.todo_button{
    width: 20%;
    padding: 13px 0;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #fa8072;
    color: black;
    vertical-align:middle;
    font-size: 18px;
}
.todo_button:hover{
    background-color: #f5877a;
}
.todo_button:active{
    background-color:#d97064;
}

.todo_input.edit {
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.todo_input.select {
    border: 2px solid black;
    width: 100%;
    margin-bottom: 10px;
}

.todo_button.edit {
    background: salmon;
    padding: 16px;
    width: 100%;
}

.todo_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    color: black;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    font-size: 20px;
    background: white;
    border: 2px solid salmon;
}

.text{
    overflow-wrap: break-word;
    width: 60%;
    text-align: justify;
}
.text:hover{
    color: rgb(75, 75, 75);
}
.text:active{
    color: rgb(61, 61, 61);
}

.icons {
    display: flex;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.delete_icon {
    margin-right: 5px;
    color: #fd4c4c;
}
.delete_icon:hover{
    color: #ff6b6b;
}
.delete_icon:active{
    color: #cf4040;
}

.edit_icon {
    margin-right: 10px;
    color: #60b160;
}
.edit_icon:hover{
    color: #6bc76b;
}
.edit_icon:active{
    color: #5ba85b;
}

.calendar_icon{
    color: black;
    margin-right: 5px;
}

.week_day{
    margin-right: 50px;
    padding: 1px 10px;
    border-radius: 5px;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    font-size: 22px;
}

.task_label{
    margin-right: 50px;
    border-radius: 5px;
    background-color: salmon;
    display: flex;
    align-items: center;
}
.task_label span{
    padding: 0 10px;
    font-size: 20px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
.ReactModal__Overlay--after-open{
    opacity: 1;
}