* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 1040px;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #f7f8fd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(
    to right bottom,
    #d6c6f0,
    #e3cfef,
    #edd8ef,
    #f4e3f1,
    #f8eef4
  ); */
  background-color: #f3f3f3;
  color: white;
}
